<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
<nav>
  <a href="/campsites" <%- title === 'All Campsites' ? 'class="active"' : '' %>>CAMPSITES</a>
  <% if (user) { %>
    <a href="/campsites/new" <%- title === 'New Campsite' ? 'class="active"' : '' %>>NEW CAMPSITE</a>
    <a href="/logout" method="POST">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="/images/google-logo-icon-png-transparent-background-osteopathy-16 - Imgur.png"></a>
    <% } %>
</nav>
</body>
</html>
