<%- include('../partials/header') %>

<label for="description">Description:</label>
<textarea id="description" name="description" required></textarea><br>

<label for="mpaaRating">Rating:</label>
<input type="text" id="mpaaRating" name="mpaaRating" required><br>

<%- include('../partials/footer') %>