* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #212222;
}

body {
  margin: 0;
  display: grid;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
  background-position: center;
}

nav>img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body>main h1:first-child {
  margin-bottom: 50px;
}

nav>a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav>a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav>a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 12px 15px;
  border-bottom: 1px solid
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: #ddd;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
#add-performer-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-campsite-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}


nav {
  display: flex;
  padding: 30px 8%;
}

.logo {
  font-size: 22px;
  color: black;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: incline-block;
  margin: 0;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
 
.login img {
  width: 30px !important;
  height: auto;
}

.banner {
  max-width: 100%;
  height: auto;
}

.banner {
  max-height: 200px;
}

